*{
  border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.top{
  margin-right: 100px;
}
body{
    margin: 90px 100px;
    max-width: 1440px;
}

  .phase1{
    display: flex;
    gap: 90px;
    justify-content: center;

  }

  #Account-Number,#Surname{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 9px;
    width: 600px;
    margin-bottom: 50px;
  }

  .surname,.phase1a{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .phase2{
    display: flex;
    gap: 90px;
    justify-content: center;
  }

  #First-Name,#Middle-Name{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 50px;
  }

  .middle,.phase2a{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .phase3{
    display: flex;
    gap: 90px;
    justify-content: center;
  }

  
  #Mobile{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 10px;
    width: 600px;
  }

  .phone{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 30px;
  }

  .special{
    text-align: right;
    border: 3px solid  rgb(217, 211, 211);
    width: 600px;
    height: 170px;
  }

  .total{
    margin-top: 15px;
  }

  .phase4{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .sr{
    text-align: left;
    margin-top: 9px;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 29px;
  }

  .sn{
    margin-right: 20px;
  }

  .No{
    margin-left: 90px;
  }


  .explain{
    margin-top: 20px;
    margin-right: 443px;
  }

  #obile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 50px;
    position: absolute;
    margin-left: 6px;
  }
  #obile:focus{
    border: 0;
  }

  .lc{
    padding: 20px;
  
    margin-left: 10px;
  }

  .change{
    margin-left: 60px;
  }

  .cd{
    margin-left: 10px;
    padding: 20px;
  }

  .top-form{
    padding: 5px;
    margin-left: 26px;
  }

  .tick-click{
    margin-left: 22px;
    display: flex;
    padding: 10px;
  }

  .h5{
    margin-left: 9px;

  }

  .form1{
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 40px;
  }

  table{
    margin-left: 30px;
    width:96%;
    height: 350px;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 40px;
  }

  td,th{
    border:3px solid  rgb(217, 211, 211);
    padding: 10px;
  }

  .ac{
    margin-left: 30px;
  }

  .fist{
    margin-left: 30px;
  }

  .dc{
    margin-left: 30px;
  }

  .dc1{
    margin-left: 30px;
    margin-bottom: 60px;
  }

  .sd{
    text-align: right;
    margin: 150px 200px 50px ;
  }

  .fbo{
    background-color: red;
    padding: 15px;
    margin-bottom: 10px;
  }

  .form2{
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-bottom: 20px;
  }

  .finger{
    margin-bottom: 20px;
  }

  .ci{
    margin-top: 40px;
  }

  @media screen  and (max-width:1440px) {

    body{
      margin: 30px;
    }
    #First-Name,#Middle-Name{
      width: 300px;
    }

    .phase1{
      gap: 45px;
    }

    
  .phase2{
    gap: 45px;
  }
  }

