*{
  border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.body{
  margin: 20px;
}

body{
    margin: auto;
    max-width: 1440px;
    justify-content: center;
    
}

  .phase1{
    display: flex;
    gap: 90px;
    justify-content: center;

  }

  .one{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 9px;
    width: 600px;
    margin-bottom: 50px;
  }

  .surname,.phase1a{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .phase2{
    display: flex;
    gap: 90px;
    justify-content: center;
  }

  .middle,.phase2a{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .phase3{
    display: flex;
    gap: 90px;
    justify-content: center;
  }


  .phone{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 30px;
  }

  .special{
    text-align: right;
    border: 3px solid  rgb(217, 211, 211);
    width: 600px;
    height: 170px;
  }

  .total{
    margin-top: 15px;
  }

  .phase4{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .sr{
    text-align: left;
    margin-top: 9px;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 29px;
  }

  .sn{
    margin-right: 20px;
  }

  .No{
    margin-left: 90px;
  }


  .explain{
    margin-top: 20px;
    margin-right: 443px;
  }

  #obile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 50px;
    position: absolute;
    margin-left: 6px;
  }
  #obile:focus{
    border: 0;
  }

  .bvn{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 30px
  }

  .change{
    margin-left: 60px;
  }

  .cd{
    margin-left: 10px;
    padding: 20px;
  }

  .top-form{
    padding: 5px;
    margin-left: 26px;
  }

  .tick-click{
    margin-left: 22px;
    display: flex;
    padding: 10px;
  }

  .h5{
    margin-left: 9px;

  }

  .form1{
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 40px;
  }

  table{
    margin-left: 30px;
    height: 350px;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 40px;
  }

  th{
    border:3px solid  rgb(217, 211, 211);
    padding: 30px;
  }

  td{
    border:3px solid  rgb(217, 211, 211);
    padding: 25px;
  }

  .ac{
    margin-left: 30px;
  }

  .fist{
    margin-left: 30px;
  }

  .dc{
    margin-left: 30px;
  }

  .dc1{
    margin-left: 30px;
    margin-bottom: 60px;
  }

  .sd{
    text-align: right;
    margin: 150px 200px 50px ;
  }

  .fbo{
    background-color: red;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
  }
   
  .fbo:hover{
    background-color: darkred;
  }
  .form2{
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-bottom: 20px;
  }

  .finger{
    margin-bottom: 20px;
  }

  .ci{
    margin-top: 40px;
  }

  
  #tobile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 25px;
    margin-left: 16px;
  }

  .cl{
    margin-top: 20px;
  }

  #sobile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 25px;
    margin-left: 260px;
  }

  .name-sig {
    margin-left: 20px;
    display: flex;
    gap: 300px;
    justify-content: center;
  }

  .name2{
    display: flex;
   flex-direction: column;
    justify-content: center;
  }

  .sg,.name1{
       margin-left: 45%
  }
  .move{
    margin-left: 7%;
  }

  .moveid{
    margin-left: 13%;
  }

  .web{
    text-align: right;
    padding: 20px;
    margin-top: 20px;
    background-color: red;
    color: white;
  }

  .web:hover{
    background-color: darkred;
  }

  @media screen  and (max-width:1440px) {

    body{
      margin: auto;
      max-width: 427px;
     
      
  }
  
    .phase1{
      gap: 2px;  
    }
  
    .one{
      border:2px solid  rgb(217, 211, 211);
      padding:2px;
      border-radius: 4.5px;
      width: 90%;
      margin-bottom: 8px;
    }
  
    .surname,.phase1a{
      font-size: 7px;
      gap: 9px;
    }
  
    .phase2{
      gap: 5px;
    }

    .middle,.phase2a{
      font-size: 7px;
      gap: 9px;
    }
  
    .phase3{
      gap: 20px;
    }
  
    .phone{
      font-size: 7px;
      display: flex;
      gap: 9px;
      margin-top: 10px;
    }
  
    .special{
      width: 161px;
      height: 70px;
      margin-right: 14px;
    }
  
    .total{
      margin-top: 4px;
      margin-left: 2px;
    }
  
    .phase4{
      gap: 10px;
    }
  
    .sr{
      margin-top: 2px;
      font-size: 6px;
      margin-left: 2px;
    }
  
    .sn{
      margin-right: 2px;
      font-size: 6px;
    }
    .y{
      font-size: 5px;
    }
  
    .No{
      margin-left: 1px;
      font-size: 6px;
    }
   #No,#Yes{
    width: 6px;
   }
  
    .explain{
      text-align: left;
      font-size: 6px;
      margin-top: 2px;
      margin-right: 6px;
      margin-left: 6px;
    }
  
    #obile{
      border-bottom: 2px solid  rgb(217, 211, 211);
      padding:2px;
      width: 60px;
      margin-bottom: 1px;
      margin-left: 1px;
    }
    .bvn{
      font-size: 7px;
      width: 200px;
      margin-left: 4px;
    }
     #Linking,#Verification,#Validation,#Finger-print,#Change,#Phone-Number,#Date-of-Birth,#Name,#Gender{
      width: 6px;
     }
    .change{
      margin-left: 40px;
    }

    p{
      font-size: 10px;
    }
  
    .cd{
      margin-left: 4px;
      padding: 4px 0;
      font-size: 8px;
    }
  
    .top-form{
      padding: 5px;
      margin-left: 16px;
      font-size: 8px;
    }
  
    .tick-click{
      margin-left: 2px;
      padding: 2px;
      font-size: 5px;
    }

  
    .h5{
      margin-left: 4px;
  
    }
  
    .form1{
      margin-left: 6px;
      width: 60%;
      margin-bottom: 10px;
    }
  
    table{
      margin-left: 4px;
      width:92%;
      height: 60px;
      text-align: left;
      margin-bottom: 10px;
    }
  
    th{
      border:1.5px solid  rgb(217, 211, 211);
      padding: 10px;
    }
  
    td{
      border:1.5px solid  rgb(217, 211, 211);
      padding: 10px;
    }
  
    .ac{
      margin-left: 4px;
    }
  
    .fist{
      margin-left: 4px;
    }
  
    .dc{
      margin-left: 4px;
    }
  
    .dc1{
      margin-left: 4px;
      margin-bottom: 30px;
    }
  
    .sd{
      font-size: 8px;
      margin: 50px 90px 20px ;
    }
  
    .fbo{
      padding: 7px;
      margin-bottom: 5px;
    }
  
    .form2{
      width: 97%;
      margin-bottom: 5px;
      font-size: 8px;
    }
  
    .finger{
      margin-bottom: 8px;
    }
  
    .ci{
      margin-top: 18px;
    }
  
    
    #tobile{
      padding:13px;
      width: 80px;
      margin-bottom: 18px;
      margin-left: 28px;
    }
  
    .cl{
      margin-top: 7px;
    }
  
    #sobile{
      padding:18px;
      width: 210px;
      margin-bottom: 177px;
      margin-left: 130px;
    }
  
    .name-sig {
      gap: 28%;
    }

    .sg,.name1{
         margin-left: 20%
    }
    .move{
      margin-left: 7%;
    }
  
    .moveid{
      margin-left: 17%;
      padding: 0;
    }
  
    .web{
      padding: 10px;
      margin-top: 10px;
    } 

  }

