*{
  border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


body{
    margin: 90px 100px;
    max-width: 1440px;
    justify-content: center;
    
}

  .phase1{
    display: flex;
    gap: 90px;
    justify-content: center;

  }

  #Account-Number,#Surname{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 9px;
    width: 600px;
    margin-bottom: 50px;
  }

  .surname,.phase1a{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .phase2{
    display: flex;
    gap: 90px;
    justify-content: center;
  }

  #First-Name,#Middle-Name{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 50px;
  }

  .middle,.phase2a{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .phase3{
    display: flex;
    gap: 90px;
    justify-content: center;
  }

  
  #Mobile{
    border:3px solid  rgb(217, 211, 211);
    padding:11px;
    border-radius: 10px;
    width: 600px;
  }

  .phone{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 30px;
  }

  .special{
    text-align: right;
    border: 3px solid  rgb(217, 211, 211);
    width: 600px;
    height: 170px;
  }

  .total{
    margin-top: 15px;
  }

  .phase4{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .sr{
    text-align: left;
    margin-top: 9px;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 29px;
  }

  .sn{
    margin-right: 20px;
  }

  .No{
    margin-left: 90px;
  }


  .explain{
    margin-top: 20px;
    margin-right: 443px;
  }

  #obile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 50px;
    position: absolute;
    margin-left: 6px;
  }
  #obile:focus{
    border: 0;
  }

  .lc{
    padding: 20px;
  
    margin-left: 10px;
  }

  .change{
    margin-left: 60px;
  }

  .cd{
    margin-left: 10px;
    padding: 20px;
  }

  .top-form{
    padding: 5px;
    margin-left: 26px;
  }

  .tick-click{
    margin-left: 22px;
    display: flex;
    padding: 10px;
  }

  .h5{
    margin-left: 9px;

  }

  .form1{
    margin-left: 19px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 40px;
  }

  table{
    margin-left: 30px;
    width:96%;
    height: 350px;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 40px;
  }

  th{
    border:3px solid  rgb(217, 211, 211);
    padding: 30px;
  }

  td{
    border:3px solid  rgb(217, 211, 211);
    padding: 25px;
  }

  .ac{
    margin-left: 30px;
  }

  .fist{
    margin-left: 30px;
  }

  .dc{
    margin-left: 30px;
  }

  .dc1{
    margin-left: 30px;
    margin-bottom: 60px;
  }

  .sd{
    text-align: right;
    margin: 150px 200px 50px ;
  }

  .fbo{
    background-color: red;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
  }

  .form2{
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-bottom: 20px;
  }

  .finger{
    margin-bottom: 20px;
  }

  .ci{
    margin-top: 40px;
  }

  
  #tobile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 25px;
    margin-left: 16px;
  }

  .cl{
    margin-top: 20px;
  }

  #sobile{
    border-bottom:3px solid  rgb(217, 211, 211);
    padding:21px;
    width: 420px;
    margin-bottom: 25px;
    margin-left: 260px;
  }

  .name-sig {
    margin-left: 20px;
    display: flex;
    gap: 300px;
    justify-content: center;
  }

  .name2{
    display: flex;
   flex-direction: column;
    justify-content: center;
  }

  .sg,.name1{
       margin-left: 45%
  }
  .move{
    margin-left: 7%;
  }

  .moveid{
    margin-left: 13%;
  }

  .web{
    text-align: right;
    padding: 20px;
    margin-top: 20px;
    background-color: red;
    color: white;
  }
  @media screen  and (max-width:1440px) {

    body{
      margin: 30px;
      max-width: 640px;
      justify-content: center;
      
  }
  
    .phase1{
      display: flex;
      gap: 2px;
      justify-content: center;
  
    }
  
    #Account-Number,#Surname{
      border:2px solid  rgb(217, 211, 211);
      padding:2px;
      border-radius: 4.5px;
      width: 90%;
      margin-bottom: 8px;
    }
  
    .surname,.phase1a{
      font-size: 7px;
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
  
    .phase2{
      display: flex;
      gap: 5px;
      justify-content: center;
    }
  
    #First-Name,#Middle-Name{
      border:2px solid  rgb(217, 211, 211);
      padding:2px;
      border-radius: 4.5px;
      width: 90%;
      margin-bottom: 8px;
    }
  
    .middle,.phase2a{
      font-size: 7px;
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
  
    .phase3{
      display: flex;
      gap: 5px;
      justify-content: center;
    }
  
    
    #Mobile{
      border:2px solid  rgb(217, 211, 211);
      padding:2px;
      border-radius: 4.5px;
      width: 75%;
    }
  
    .phone{
      font-size: 7px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      margin-top: 10px;
    }
  
    .special{
      text-align: right;
      border: 3px solid  rgb(217, 211, 211);
      width: 120px;
      height: 100px;
      margin-left: 0px;
    }
  
    .total{
      margin-top: 4px;
      margin-left: 2px;
    }
  
    .phase4{
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  
    .sr{
      text-align: left;
      margin-top: 2px;
      font-weight: bolder;
      font-size: 6px;
      margin-left: 2px;
    }
  
    .sn{
      margin-right: 2px;
      font-size: 6px;
    }
    .y{font-size: 2px;}
  
    .No{
      margin-left: 1px;
      font-size: 6px;
    }
  
  
    .explain{
      margin-top: 2px;
      margin-right: 3px;
    }
  
    #obile{
      border-bottom:3px solid  rgb(217, 211, 211);
      padding:21px;
      width: 4px;
      margin-bottom: 50px;
      position: absolute;
      margin-left: 1px;
    }
    #obile:focus{
      border: 0;
    }
  
    .lc{
      padding: 20px;
    
      margin-left: 10px;
    }
  
    .change{
      margin-left: 60px;
    }
  
    .cd{
      margin-left: 10px;
      padding: 20px;
    }
  
    .top-form{
      padding: 5px;
      margin-left: 26px;
    }
  
    .tick-click{
      margin-left: 22px;
      display: flex;
      padding: 10px;
    }
  
    .h5{
      margin-left: 9px;
  
    }
  
    .form1{
      margin-left: 19px;
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin-bottom: 40px;
    }
  
    table{
      margin-left: 30px;
      width:96%;
      height: 350px;
      border-collapse: collapse;
      text-align: left;
      margin-bottom: 40px;
    }
  
    th{
      border:3px solid  rgb(217, 211, 211);
      padding: 30px;
    }
  
    td{
      border:3px solid  rgb(217, 211, 211);
      padding: 25px;
    }
  
    .ac{
      margin-left: 30px;
    }
  
    .fist{
      margin-left: 30px;
    }
  
    .dc{
      margin-left: 30px;
    }
  
    .dc1{
      margin-left: 30px;
      margin-bottom: 60px;
    }
  
    .sd{
      text-align: right;
      margin: 150px 200px 50px ;
    }
  
    .fbo{
      background-color: red;
      padding: 15px;
      margin-bottom: 10px;
      color: white;
    }
  
    .form2{
      display: flex;
      justify-content: space-between;
      width: 97%;
      margin-bottom: 20px;
    }
  
    .finger{
      margin-bottom: 20px;
    }
  
    .ci{
      margin-top: 40px;
    }
  
    
    #tobile{
      border-bottom:3px solid  rgb(217, 211, 211);
      padding:21px;
      width: 420px;
      margin-bottom: 25px;
      margin-left: 16px;
    }
  
    .cl{
      margin-top: 20px;
    }
  
    #sobile{
      border-bottom:3px solid  rgb(217, 211, 211);
      padding:21px;
      width: 420px;
      margin-bottom: 25px;
      margin-left: 260px;
    }
  
    .name-sig {
      margin-left: 20px;
      display: flex;
      gap: 300px;
      justify-content: center;
    }
  
    .name2{
      display: flex;
     flex-direction: column;
      justify-content: center;
    }
  
    .sg,.name1{
         margin-left: 45%
    }
    .move{
      margin-left: 7%;
    }
  
    .moveid{
      margin-left: 13%;
    }
  
    .web{
      text-align: right;
      padding: 20px;
      margin-top: 20px;
      background-color: red;
      color: white;
    } 

  }

